aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
asgiref==3.9.1
attrs==25.3.0
Brotli==1.1.0
certifi==2025.8.3
charset-normalizer==3.4.3
Django==5.2.6
frozenlist==1.7.0
g4f==0.6.2.8
idna==3.10
Markdown==3.9
multidict==6.6.4
nest-asyncio==1.6.0
propcache==0.3.2
pycryptodome==3.23.0
requests==2.32.5
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.5.0
yarl==1.20.1
